<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login-Page</title>
</head>
<body>
<p></p>
<form method="post" action="{% url 'cart:profile_val' %}">
{% csrf_token %}

    <label for="user_name">User name:</label>
    <input type="text" name="user_name" value="" id="user_name">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</body>
</html>