<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/our.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <title>user dashboard</title>

<style>

</style>
</head>

<body>

<div class="navbar w3-animate-top" style="animation:animatetop 0.5s;animation-fill-mode: backwards; ">
    <img src="{% static 'cart/iiits-logo.png' %}" width="50" height="53">
  <a class="active_nav" href="#from_dashboard_to_dashboard!_congrats!" style="float: left;padding: 0px 0px;" ><img src="{% static 'cart/cart-logo.png' %}" width="50" height="53"><div style="color: #4a89dc;float: left;padding: 14px 0px;">of <b>{{ request.user.username }}&nbsp;</b></div></a>
  <a href="{% url 'cart:logout' %}">Logout</a>
  <a href="{% url 'cart:profile' %}">Profile</a>
 <a href="{% url 'cart:cact_buy' %}">Orders</a>
    <a href="{% url 'cart:add_pro' %}">Sell</a>
    <form method="post" action="{% url 'cart:search_product' %}" >
    {% csrf_token %}
  <button  style="float: right;
  display: block;border: 0;background-color: transparent;cursor:pointer;
  padding: 0px 0px;" href="{% url 'cart:search_product' %}">
      <i class="material-icons" >search</i>
  <input type="hidden" name="next" value="{{ next }}" /></button>
  <input style="border:0px solid #fff;" type="text" name="name" placeholder="Search among {{ num }} products" required>
</form>
    <a style="padding: 0px 0px;cursor: pointer" ><i class="material-icons" onclick="window.history.go(-1); return false;" >arrow_back</i></a>
</div>

<div class="main" style="color:white;">
 <center>
 <br><br>
 <h2 style="color: #3f51b5">Latest Products</h2>
  </center>
     {% for i in dt1 %}
    <form style="cursor: pointer;border: none;" method="post" action="{% url 'cart:product_detail' %}" >
    {% csrf_token %}
    <input style="display: none" name="pk" value="{{ i.5 }}">
  <button style="border: none;background-color: transparent;padding: 0px;" >
<div class="flip-card w3-animate-top" style="animation-delay: 0.5s;animation-fill-mode: backwards;">

  <div class="flip-card-inner">
    <div class="flip-card-front">
        <img src="{{ MEDIA_URL }}product/{{ i.4 }}" style="width:100%;height: 80%;" onerror="this.src='{{ MEDIA_URL }}product/product_default.png';">
  <h2 style="color: #FFFFFF;background-color: #118AEC;padding: 3%;margin-top: 0px;">{{ i.0 }}</h2>
    </div>
    <div class="flip-card-back">
        <br><br>
      <h1><div >₹ {{ i.2 }}</div></h1>
      <p>Seller: {{ i.1}}<br>Rating: static value</p>
    </div>
  </div>
      <input type="hidden" name="next" value="{{ next }}" />
</div>
    </button>
    </form>
{% endfor %}

</div>
</body>
</html>
