<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/our.css' %}">

  <title>Landing Page - group 16</title>

</head>

<body style=" margin: 0;
   background: url(/static/img/w2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

<div class="navbar w3-animate-top" style="animation:animatetop 0.5s;animation-fill-mode: backwards; background-color: transparent;">
  <img src="{% static 'cart/cart-logo.png' %}" width="50" height="53">
  <a id="login" onclick="on_login()" style="color: #000;" href="#s">login</a>
  <a id="newbee" onclick="on_newbee()"style="color: #000;" href="#s">newbee</a>
  <a style="color: #000;" href="#contact">Info</a>
</div>
<div id="overlay_newbee" >
 <center> <h2>Signup Form</h2>
  <form style="background-color:white; width:40%;" method="post" action="{% url 'cart:makeuser' %}">
{% csrf_token %}
    <label for="username">username</label>
    <input type="text" name="username" value="" id="username">
    <label for="first_name">first name:</label>
    <input type="text" name="first_name" value="" id="first_name">
    <label for="last_name">last name:</label>
    <input type="text" name="last_name" value="" id="last_name">
    <label for="email">Email</label>
    <input type="email" name="email" value="" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

<div>
  <input type="submit" value="signup" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
  <button onclick="off_newbee()" type="button" class="cancelbtn">Cancel</button>
</form></center>
</div>

<div id="overlay_login" >
 <center> <h2>Login Form</h2>
  <form style="background-color:white; width:40%;" method="post" action="{% url 'cart:profile_val' %}">
{% csrf_token %}
    <label for="user_name">User name:</label>
    <input type="text" name="user_name" value="" id="user_name">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

  <button onclick="off_login()" type="button" class="cancelbtn">Cancel</button>
</form></center>
</div>

<div class="main" style="color:black;">
 <center>
  <br><br><br><br><br><br>
 <p class="w3-animate-opacity" style="animation:opac 0.8s; animation-delay: 0.8s;animation-fill-mode: backwards;"><font size="8">IIITS CART</font></p>
 <p class="w3-animate-opacity" style="animation:opac 0.8s; animation-delay: 1.5s;animation-fill-mode: backwards;">Buy | Sell | Rent</p>

 <p class="item-1"><b>10121</b> products sold.</p>

<p class="item-2"><b>5012</b> costumers.</p>

<p class="item-3"><b>20225</b> products on sale.</p>

 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <p class="w3-animate-zoom footer" style=" animation-delay: 2s;animation-fill-mode: backwards; ">developed at iiit Sri City</p>
 </center>
</div>

<script>
function on_login() {
    document.getElementById("overlay_login").style.display = "block";
}

function off_login() {
    document.getElementById("overlay_login").style.display = "none";
}
function on_newbee() {
    document.getElementById("overlay_newbee").style.display = "block";
}

function off_newbee() {
    document.getElementById("overlay_newbee").style.display = "none";
}
</script>

</body>
</html>
