
<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/our.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <title>user dashboard</title>
    <script>if(performance.navigation.type == 2){
   location.reload(true);
   function stock(x){
            console.log(x);
            if (x<1){
                document.getElementById("av").style.display ="none";
            document.getElementById("na").style.display ="block";
            }

        }
}</script>
    <script>

function stock(x){
            console.log("texttttttttttttt");
            console.log(x);
            if (x<1){
                document.getElementById("av").style.display ="none";
            document.getElementById("na").style.display ="block";
            }

        }
    </script>
    <style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}
h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

    </style>

</head>

<body >

<div class="navbar w3-animate-top" style="animation:animatetop 0.5s;animation-fill-mode: backwards; ">
     <img src="{% static 'cart/iiits-logo.png' %}" width="50" height="50">
 <a href="{% url 'cart:go-to-dashboard' %}" style="float: left;padding: 0px 0px;" ><img src="{% static 'cart/cart-logo.png' %}" width="50" height="53"><div style="float: left;padding: 14px 0px;">of {{ request.user.username }}</div></a>
  <a href="{% url 'cart:logout' %}">Logout</a>
  <a href="{% url 'cart:profile' %}">Profile</a>
  <a style="color: #000000;background-color: #FFFFFF;border-top-left-radius: 5%;border-top-right-radius: 5%;" href="#orders">Orders</a>
    <a href="{% url 'cart:add_pro' %}">Sell</a>
    <form method="post" action="{% url 'cart:search_product' %}" >
    {% csrf_token %}
        <input style="display: none;" name="category" value="all">
      <input style="display: none;" name="price_low" value="0">
      <input style="display: none;" name="price_high" value="1000000000">
      <input style="display: none;" name="rating" value="0">
  <button type="submit" href="{% url 'cart:search_product' %}"
          style="border: 0;background-color: #3C3C3C;cursor:pointer;padding: 0px 0px;" >
      <i class="material-icons" >search</i>
  <input type="hidden" name="next" value="{{ next }}" /></button>
  <input style="width:57.2%;border:0px solid #fff;" type="text" name="name" placeholder="Search among {{ num }} products" required>
</form>
    <a style="padding: 0px 0px;cursor: pointer" ><i class="material-icons" onclick="window.history.go(-1); return false;" >arrow_back</i></a>
</div>
<div class="w3-animate-opacity" id="overlay_edit" >
<center>
     <br><br><br>
  <form id="overlay" method="post" action="{% url 'cart:add_a_comment' %}">
{% csrf_token %}

      <h2><b>Write your review.</b></h2>
      <input style="display: none;" name="pk" value="">
    <textarea rows="4" cols="50" name="review" placeholder="type here...">
</textarea>
      <div class="group">
    <input style="width: 60%;" type="number" name="rating" id="quantity" placeholder="from 1 to 5" max="5" min="1" required><span class="highlight"></span><span class="bar"></span>
    <label><b>Rating</b></label>
  </div>
  <button type="submit" class="button buttonBlue">Submit
      <input type="hidden" name="next" value="{{ next }}" />
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>

  </button>


  <button style="border: 0;color:#3599FF;background-color: transparent;cursor:pointer;" onclick="off_edit()" type="button" >close</button>
  </form>
</center></div>


<div class="main" style="color:#000000;">

 <br>
<h2 style="color: #2A5FDB"><b> Wish list:</b><br></h2>
<center><table style="width: 80%;border-spacing: 0px;">
    {% for i in dt1 %}
    <tr  style="height: 150px;background: rgba(0, 0, 0, 0.1);padding: 0px;" class="w3-animate-opacity">
        <td style="width: 20%;">
            <form style="cursor: pointer;border: none;padding: 0px;width: 250px;height: 300px;display: inline;"
           method="post" action="{% url 'cart:product_detail' %}" >
    {% csrf_token %}
    <input style="display: none" name="pk" value="{{ i.3 }}">
  <button style="border: none;background-color: transparent;padding: 0px;cursor: pointer;" >
    <img src="{{ MEDIA_URL }}product/{{ i.4 }}"  width="150" height="150"  onerror="this.src='{{ MEDIA_URL }}product/product_default.png';">&nbsp;
    <input type="hidden" name="next" value="{{ next }}" />
  </button>
            </form></td>
            <td style="padding-left: 10%;padding-right:5%;width: 60%;">
                <h3 style="color: #357bd8;"><b>{{ i.0 }}</b></h3>
                <div style="color: #4CAF50;"> ₹ {{ i.2 }} /unit</div>Available Quantity: {{ i.6 }}<br>
                Seller: {{ i.1 }}
            </td>
        <td>
            <div id="av" style="display: block;"><form method="post" action="{% url 'cart:buy_product' %}" >
                {% csrf_token %}
                <input style="display: none" name="pk" value="{{ i.3 }}">
                <button type="submit"  class="button buttonBlue" style="width: 100px;">Buy

    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
 <input type="hidden" name="next" value="{{ next }}" />
  </button><input name="quantity" style="width: 50px;height: 48px;border: none;text-align: center;margin-top: 0px;"
                  type="number" value="1" max="{{ dt.8 }}" min="1" required>  <!-- send available quantity here -->
            </form></div>
            <div id="na" style="display: none;margin-left: 20%;"><h2 style="color: red;">Out of stock</h2></div>
            <script>stock({{ dt.8 }});</script>
            <form method="post" action="{% url 'cart:edit_wishlist' %}" >
                {% csrf_token %}
                <input style="display: none" name="pk" value="{{ i.3 }}">
                <button type="submit"  class="button" style="width: 120px;background: #C70000;text-align: center;border-bottom: 3px solid #980202;">Remove

    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
 <input type="hidden" name="next" value="{{ next }}" />
  </button>
            </form>
        </td>
    </tr>
        <tr style="height: 10px;"></tr>
    {% endfor %}

</table></center>
         <h2 style="color: #2A5FDB"><b> Bought products:</b><br></h2>
<center><table style="width: 80%;border-spacing: 0px;">
    {% for i in dt %}
    <tr  style="height: 150px;background: rgba(0, 0, 0, 0.1);padding: 0px;" class="w3-animate-opacity">
        <td style="width: 20%;">
            <form style="cursor: pointer;border: none;padding: 0px;width: 250px;height: 300px;display: inline;"
           method="post" action="{% url 'cart:product_detail' %}" >
    {% csrf_token %}
    <input style="display: none" name="pk" value="{{ i.5 }}">
  <button style="border: none;background-color: transparent;padding: 0px;cursor: pointer;" >
    <img src="{{ MEDIA_URL }}product/{{ i.4 }}"  width="150" height="150"  onerror="this.src='{{ MEDIA_URL }}product/product_default.png';">&nbsp;
    <input type="hidden" name="next" value="{{ next }}" />
  </button></form>
        </td>
            <td style="padding-left: 10%;padding-right:5%;width: 60%;">
                <h3 style="color: #357bd8;"><b>{{ i.0 }}</b>[{{ i.4 }}]</h3>
                <div style="color: #4CAF50;"> ₹ {{ i.2 }} /unit</div>Quantity: {{ i.1 }}<br>
                Seller: {{ i.3 }}
            </td>
        <td>
                <button onclick="on_edit({{ i.5 }})" class="button" style="width: 160px;background: #C70000;text-align: center;border-bottom: 3px solid #980202;">Review

    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
            </form>
        </td>
    </tr>
        <tr style="height: 10px;"></tr>
    {% endfor %}
</table></center></div>
<script>
$(window, document, undefined).ready(function() {

  $('input').blur(function() {
    var $this = $(this);
    if ($this.val())
      $this.addClass('used');
    else
      $this.removeClass('used');
  });

  var $ripples = $('.ripples');

  $ripples.on('click.Ripples', function(e) {

    var $this = $(this);
    var $offset = $this.parent().offset();
    var $circle = $this.find('.ripplesCircle');

    var x = e.pageX - $offset.left;
    var y = e.pageY - $offset.top;

    $circle.css({
      top: y + 'px',
      left: x + 'px'
    });

    $this.addClass('is-active');

  });

  $ripples.on('animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd', function(e) {
  	$(this).removeClass('is-active');
  });

});


$(document).keyup(function(e) {
  if (e.keyCode == 27) { off_edit();}   // esc
});
function on_edit(pk) {
    var number=pk;
    console.log(number);
    document.forms[1].pk.value = number;
    document.getElementById("overlay_edit").style.display = "block";
}

function off_edit() {
    document.getElementById("overlay_edit").style.display = "none";
}

</script>
</body>
</html>


