<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cart/our.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <title>iiits cart</title>
    <style>

    </style>

</head>

<body style=" margin: 0;
   background: url({% static 'cart/w2.jpg' %}) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">


<div class="navbar w3-animate-top" style="animation:animatetop 0.5s;animation-fill-mode: backwards; ">
 <a href="{% url 'cart:go-to-dashboard' %}" style="float: left;padding: 0px 0px;" ><img src="{% static 'cart/cart-logo.png' %}" width="50" height="53"><div style="float: left;padding: 14px 0px;">of {{ request.user.username }}</div></a>

  <a href="{% url 'cart:logout' %}">Logout</a>
  <a href="{% url 'cart:profile' %}">Profile</a>
  <a href="#orders">Orders</a>
    <a href="{% url 'cart:add_pro' %}">Sell</a>
  <form method="post" action="{% url 'cart:search_product' %}" >
    {% csrf_token %}
  <button type="submit" href="{% url 'cart:search_product' %}" style="float: right;
  display: block;border: 0;cursor:pointer;
  opacity: 1;
  padding: 0px 0px;" ><i  class="material-icons" >search</i>
  <input type="hidden" name="next" value="{{ next }}" /></button>
  <input style="border:0px solid #fff;" type="text" name="name" placeholder="Search among 20,000 products"value="{{ query }}" required>
</form>


<div class="main" style="color:white; margin-left: 230px;">

 <br><br>
{% for i in dt %}
    <form method="post" action="{% url 'cart:search_product' %}" >
    {% csrf_token %}
<button type="submit" href="{% url 'cart:search_product' %}" style="background-color: transparent;border: 0px">
    <div class="card">
         <a href="{% url 'cart:search_product' %}" style="position: relative;top: 0; left: 0;height: 100%; width: 100%;text-decoration: none">
  <img src="{% static 'cart/product_default.png' %}" alt="{% static 'cart/product_default.png' %}" style="width:100%">
  <h2 style="color: #000;display: inline;">{{ i.0 }}</h2>
             <p style="color: #000;display: inline;"><br>Seller: {{ i.1}}<br>Rating: 4.2/5</p>
             <h1 id="cardb">{{ i.2 }}₹</h1>
</a>
     </div>
</button>
    </form>
{% endfor %}


<p></p>
</div>

</body>
</html>
